# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
*.env

# IDE/editor configs
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Excel / test data files
*.xlsx
/testing/
